<div id="selectproblem">
	<div class="ui black buttons">
    <div class="ui button floating dropdown" id="questionSelectionDropdown">Select a Problem
      <i id="selecticon" class="dropdown icon"></i>
      <div class="menu">
        <div class="item" ng-click="getquestion(0)" id="firstQuestion">Factorization</div>
        <div class="item" ng-click="getquestion(1)" id="secondQuestion">Linear Equations</div>
        <div class="item" ng-click="getquestion(2)" id="thirdQuestion">Calculation</div>
        <div class="item" ng-click="getquestion(3)" id="fourthQuestion">Word Problem</div>
      </div>
    </div>
  </div>
</div>
<!---------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------ The question modal -------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------->
<div class="ui small long modal" id="qaform">
  <i class="close icon" id="closeIcon"></i>
  <div class="content">
    <div ng-show="loading">
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="ui large inverted inline text loader"></div>
      <br>
      <br>
      <br>
    </div>
    <div ng-hide="loading">
      <div ng-hide = "answerCorrect">
        <div class="ui icon message">
          <i class="question icon"></i>
          <div class="content">
            <div class="header" id="problem">Problem</div>
            <div id="question">{{question}}</div>
            <div id="question2">{{question2}}</div>
          </div>
        </div>
        <div class="ui fluid left icon input" ng-show="!showanswer" id="answerSection">
          <input ng-model="solution" type="text" placeholder={{placeholder}} name="answerInput">
          <i class="edit icon"></i>
        </div>
      </div>
      <div id="reply" ng-show="!showanswer">
        <i id="replyicon"></i>
        <div class="content" id="replyContent">{{reply}}</div>
      </div>

      <div class="ui icon message" ng-show="showanswer">
        <i class="exclamation icon"></i>
        <div class="content">
          <div class="header" id="answerField">
            Answer
          </div>
          <div>{{answer}}</div>
        </div>
      </div>
    </div>
  </div>
  <div ng-hide = "answerCorrect || givenUp">
    <div class="ui buttons modalbuttons">
      <div class="ui black button" id="submitbtn" ng-click="postsolution()" ng-disabled="disablebtn">
        Submit &nbsp;
      </div>
      <div class="or"></div>
      <div class="ui black button" id="answerbtn" ng-click="getanswer()">
        Give Up
      </div>
    </div>
  </div>
  <div ng-show="givenUp">
    <div class="ui buttons modalbuttons">
      <div class="ui black button"  ng-click="updateQuestion()">
        Try another question!
      </div>
    </div>
  </div>
  <div ng-show="answerCorrect && !loading && !givenUp">
    <div class="centent">
      <div class="ui blue inverted segment">
        <div ng-show="type==0">
          Your plant is watered! Don't flood your plant. Give a little sunshine to your plant?
        </div>
        <div ng-show="type==1">
          Your plant just got extra sunshine! Don't burn your plant. Add some fertilizer as well?
        </div>
        <div ng-show="type==2">
          Your plant is fertilized! Hey! Look! Some bugs are biting the leaves! Wanna try some pesticide?
        </div>
        <div ng-show="type==3">
          You just used some pesticide! Too much chemical may harm your plant. Time to water it?
        </div>
      </div>
    </div>
    <div class="ui buttons modalbuttons">
      <div class="ui black button"  ng-click="updateQuestion()">
        Yes, next question!
      </div>
    </div>
  </div>

</div>

