<div class="ui right vertical inverted labeled icon settreeicon sidebar menu active" id="settree">
  <a class="item treeattr">
    <i class="barcode icon settreeicon"></i>
    Trunk Appearance
    <table class="ui table settree">
  <tbody>
    <tr>
      <td class="trunkimg" ng-click="setbtex(0)"><img height="60" width="60" src="images/treebark1.jpg"></td>
      <td class="trunkimg" ng-click="setbtex(1)"><img height="60" width="60" src="images/treebark2.jpg"></td>
      <td class="trunkimg" ng-click="setbtex(2)"><img height="60" width="60" src="images/treebark3.jpg"></td>
    </tr>
  </tbody>
</table>
  </a>
  <a class="item treeattr">
    <i class="leaf icon settreeicon"></i>
    Leaf Appearance
    <table class="ui table settree">
  <tbody>
    <tr>
      <td  ng-click="setltex(0)"><img class="leafimg" height="60" width="60" src="images/leaf1.png"></td>
      <td  ng-click="setltex(1)"><img class="leafimg" height="60" width="60" src="images/leaf2.png"></td>
      <td  ng-click="setltex(2)"><img class="leafimg" height="60" width="60" src="images/leaf3.png"></td>
    </tr>
    <tr>
      <td  ng-click="setltex(3)"><img class="leafimg" height="60" width="60" src="images/leaf4.png"></td>
      <td  ng-click="setltex(4)"><img class="leafimg" height="60" width="60" src="images/leaf5.png"></td>
      <td  ng-click="setltex(5)"><img class="leafimg" height="60" width="60" src="images/leaf6.png"></td>
    </tr>
  </tbody>
</table>
  </a>
  <a class="item treeattr">
    <i class="smile icon settreeicon"></i>
    /*todo*/
  </a>
  <a class="item treeattr">
    <i class="calendar icon settreeicon"></i>
    /*todo*/
  </a>
</div>